*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/bin
/app/bin
/gradle
/crowdfunding/bin
/drygoodsshare/bin
/inspirationtosell/bin
/platform/bin
/Libraries/DroidPlugin/bin
/RedPacket/bin
/RedPacket/build
/IMKit/bin
/IMKit/build
/IMKLib/bin
/IMKLib/build
/libzxing/bin
/mylibrary/bin