<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.issp.association">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@mipmap/ganhuo"
        android:label="@string/name"
        android:supportsRtl="true"
        xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:label"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MinShareActivity"
            android:exported="true"/>
        <activity android:name=".ui.activity.CommentMessageActivity"
            android:exported="true"/>

        <activity android:name=".ui.activity.FeedForCommentActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="true"/>

        <activity android:name=".ui.activity.ReadShareActivity"
            android:exported="true"/>
        <activity android:name=".ui.activity.PreviewActivity"
            android:exported="true"/>
        <activity android:name=".ui.activity.AddArticleActivity"
            android:exported="true"/>
        <activity android:name=".ui.activity.DownloadCollectActivity"
            android:exported="true"/>
        <activity android:name=".ui.activity.DownloadingActivity"
            android:exported="true"/>

        <!--选择图片-->
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />
    </application>

</manifest>